html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/* Uyumsoft Proliz Eşleştirme */

tbody tr a{
  padding: 18px !important;
  text-decoration: none;
  color: gray;
}

tbody tr a:hover{
  color: gray;
}

td{
  cursor: pointer;
}

.tableHeadStyle{
  background-color: #324148;
  color: white;
  font-weight: 500;
}


.uPEdb thead{
  background-color: #324148 !important;
}
.h5Header h5{
  font-style: italic;
  font-weight: 100 !important;

}

.eee p{
  padding: 1px;
  margin: -1px;
  border-radius: 0.1rem;
}

.eee p:hover{
  background-color: #e0e0e0;
  padding: 2px;
}

.eee thead :hover{
  background-color: #324148;
}
.baslik{
  width: 100% !important;
  font-size: x-large;
  text-align: center;
}


.uPETable .dene{
  background-color: aqua;
}

.ellll p:hover{
  background-color: #e0e0e0;
}
.width{
  width: 50% !important;
}
.btnStyle{
  margin-bottom: 25px;
}

.btnStyle .btn{
  width: 125px;
  background-color: #26a69a;
  color: white;
  font-size: small;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.btnStyle .btn:hover{
  width: 125px;
  background-color: #26a69a;
  color: white;
}
